body {
  height: 3000px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  width: 430px;
  border: 1px solid rgb(244, 244, 244);
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  padding: 15px;
  margin-top: 30px;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.user-content {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}

.profile-buttons {
  display: flex;
  align-items: center;
}

.user-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-add-user {
  color: white;
  background-color: rgb(38, 94, 213);
  margin-right: 7px;
}

.btn-add-user:hover {
  background-color: rgb(48, 108, 238);
}

.btn-message {
  color: black;
  background-color: rgb(235, 235, 235);
}

.btn-message:hover {
  background-color: rgb(217, 217, 217);
}
